*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

.App{
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  position: relative;
}

.h1, .h2, h3{
  color: var(--heading-color);
  font-weight: 700;
}

ul{
  list-style: none;
}

input, textarea{
  border: none;
  outline: none;
  background-color: transparent;
}

button{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

a{
  text-decoration: none;
}